{% extends 'base.html.twig' %}

{% block title %}
  Welcome on Lockdown series
{% endblock %}

{% block body %}
  <div style="background-image: url('/images/background-homepage.jpg')">
    <h1 class="d-flex justify-content-center col-lg-12">
      <img src="https://fontmeme.com/permalink/210512/d3844c7146e969b725b529c4412bdb24.png"
        alt="netflix-font"
        border="2px" />
    </h1>
    <div>
      <h2>
        Bienvenue sur votre site préfré
      </h2>
      <p class="text-white">
        Vous allez pouvoir découvrir notre watchlist pour le confinement
      </p>
      
        <h1>
    Les dernières séries ajoutées
  </h1>

  {% for program in program %}
    <div>
      <h2>
        
        <a href="{{
          path(
            'program_show',
           {program: program.slug}
          )
          }}">
          {{ program.title }}
        </a>
      </h2>
      <ul>
        <li>Sommaire : {{ program.summary }}</li>
        <li>Origine : {{ program.country }}</li>
        <li>Date de sortie : {{ program.year }}</li>
      </ul>
      {# Lien vers la fiche de la série : #}
      <a href="{{
        path(
          'program_show',
          {program: program.slug}
        )
        }}">
        <button type="button" class="btn btn-primary">Voir la fiche</button>
      </a>
      <br />
    </div>
  {% else %}
    Aucune séries trouvée.
  {% endfor %}

      <div class="d-flex justify-content-around p-5">
        <a type="button"
          class="btn btn-secondary btn-lg justify-content-around"
          href="{{ path('program_index') }}">
          SERIES
        </a>
        <a type="button"
          class="btn btn-secondary btn-lg justify-content-around"
          href="{{ path('category_index') }}">
          CATEGORIES
        </a>
      </div>
    </div>
  </div>
{% endblock %}
