{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Toutes les séries de la table program :
	</h1>
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
				<a href="{{ path("program_show", { program: program.slug }) }}">
					{{ program.title }}
				</a>
				- Catégorie :
				<a href="{{ path('category_show', { categoryName: program.category.name }) }}"> {{ program.category.name }} </a></h2>
			<ul>
				<li>Sommaire : {{ program.summary }}</li>
				<li>Origine  : {{ program.country }}</li>
				<li>Date de sortie : {{ program.year }}</li>
			</ul>
			{# Lien vers la fiche de la série : #}
			<a href="{{ path("program_show", { program: program.slug }) }}">
				<button type="button" class="btn btn-primary">Voir la fiche</button>
			</a>
			{% if is_granted("ROLE_ADMIN") %}
    		<a href="{{ path('program_edit', { 'program': program.slug} ) }}"><button type="button" class="btn btn-secondary">Editer</button></a>
			{% endif %}
			<br>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
	<a href="{{ path("program_new") }}"><button type="button" class="btn btn-secondary">Ajouter une nouvelle série</button></a>
	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
