{% extends 'base.html.twig' %}

{% block title %}
  Saison {{ season.number }} de {{ program.title }}
{% endblock %}

{% block body %}
  <h1>
    Saison {{ season.number }} de {{ program.title }}
  </h1>
  <p>
    {{ season.description }}
  </p>

  {% for episode in episodes %}
    <ul>
      <a href="{{ path('program_episode_show', { programId: program.id, seasonId: season.id, episodeId: episode.id }) }}"><li>Episode {{ episode.number }}: {{ episode.title }}</li></a>
    </ul>
  {% endfor %}
{% endblock %}
