{% extends "email/base.email.html.twig" %}

{% block title %}episode{% endblock %}

{% block body %}
<h1>New episode {{ episode.title }} created</h1>
<p>Hello, the new episode {{ episode.title }} of the program {{ program.title }} has been created on Wild Series</p>
<p>Synopsys : {{ episode.synopsis }}</p>

<a class="btn btn-primary" href="{{ path('episode_show', {'episode': episode.slug}) }}">Voir l'épisode</a>
{% endblock body %}